
body {
  margin: 0;
  padding: 0;
  background-image: url('../../public/img/bg_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, sans-serif;
  background-attachment: fixed;
}

.containersci {
  display: flex;
  background-color: #90ffeef0;
  padding: 5px;
  align-items: center;
  margin: 5px;
  color: #000; /* Set text color to black */
}

.containerana {
  display: flex;
  background-color: #8dffd2e8;
  padding: 5px;
  align-items: center;
  margin: 5px;
  color: #000; /* Set text color to black */
}

.containervis {
  display: flex;
  background-color: #ffa7a7f4;
  padding: 5px;
  align-items: center;
  margin: 5px;
  color: #000; /* Set text color to black */
}

.containerdev {
  display: flex;
  background-color: #ffbbf1ee;
  padding: 5px;
  align-items: center;
  margin: 5px;
  color: #000; /* Set text color to black */
}



/* styles.css */

.navbar {
    position: relative; /* Needed for stacking context */
    background-color: #ffffff; /* Set the background color of the navbar */
    color: #525252; /* Set the default text color */
    padding: 5px;
    font-size: 10px; /* Adjust the font size as needed */
    font-family: Verdana, sans-serif; /* Stylish font with shadow */
    font-style: normal
  }
  
  .navbar-title {
    margin: 0;
    position: relative; /* Needed for stacking context */
    z-index: 1; /* Bring the text to the front */
    cursor:pointer;
    display: flex;
  }
  
  
  
  .image-container {
    flex: 0 0 25.5vw;
    
     /* Set your desired fixed width */
    max-height: 400px; /* Set your desired fixed height */
    overflow: hidden;
  }
  
  .image {
    max-width: 100%;
    
    height: auto;
    display: block;
  }
  
  .text-con {
    flex: 1;
    padding: 0 20px;
    color: #313131; /* White text color */
    
    font-family: Consolas, monaco, monospace;
    font-size:20px;
   

  }

  .text-con span{
    margin: 10px;
    position: flex;
    
   cursor: pointer;
  }
  