.container {
    display: flex;
    background-color: #00ffd955; /* Green color */
    padding: 5px;
    align-items: center;
    margin: 5px;
    
  }

  
  .image-container {
    flex: 0 0 400px;
    
     /* Set your desired fixed width */
    max-height: 400px; /* Set your desired fixed height */
    overflow: hidden;
  }
  
  .image {
    max-width: 100%;
    
    height: auto;
    display: block;
  }
  
  .text-con {
    flex: 1;
    padding: 0 20px;
    color: #ffffff; /* White text color */
    display:flex;
   

  }
  