/* HorizontalContainer.css */

.horizontal-containera {
   
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.925); /* Green color with opacity */
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 3vw; /* Set your desired height */
    padding: 10px; /* Set your desired padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.); /* Optional: Add box shadow for a subtle effect */
    color: #fff; /* Set text color to white */
    border-radius: 10px;
    margin: 5px;

  }

  .onecon{
    display:flex;
    margin-left:10%;
    margin-right:10%;
  }

  .horizontal-container {
    
    
    background-color: rgba(47, 47, 47, 0.978); /* Green color with opacity */
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 27vw; /* Set your desired height */
    padding: 10px; /* Set your desired padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add box shadow for a subtle effect */
    color: #fff; /* Set text color to white */
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    padding-right: 20px;


  }

  .horizontal-containerb {
    
    
    background-color: rgba(242, 242, 242, 0.979); /* Green color with opacity */
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vw; /* Set your desired height */
    padding: 60px; /* Set your desired padding */
    padding-right:40px;
    padding-left: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add box shadow for a subtle effect */
    color: #292929; /* Set text color to white */
    border-radius: 10px;
    margin-top: 20px;
    

  }
  
  /* Optional: Add more styles for your content inside the container */
  .horizontal-containera p {
    margin: 0;
    font-size: 1.5vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  .horizontal-container p {
    display: flex;
    margin: 0;
    
    font-size: 1.1vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  .horizontal-container h1 {
    margin: 1vw;
    font-size: 1.5vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  .horizontal-containerb p {
    margin: 0;
    padding-left: 2vw;
    font-size: 1.1vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  .horizontal-containerb h1 {
    margin: 1vw;
    font-size: 1.5vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }
  .horizontal-containerb h2 {
    margin: 1vw;
    font-size: 1.1vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }
  .horizontal-container h2 {

    font-size: 1.1vw; /* Use viewport width for responsive font size */
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }
  
  @media (max-width: 767px) {
    .onecon {
        flex-direction: column; /* Change to a column layout for mobile devices */
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .horizontal-container,
    .horizontal-containerb {
        height: auto; /* Adjust height for mobile devices */
        margin-right: 0; /* Remove right margin for mobile devices */
        margin-bottom:5px;
        margin-top:5px;
        padding:5px;
    }

    .horizontal-container p {
      display: flex;
      margin: 0;
      
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
  
    .horizontal-container h1 {
      margin: 1.5vw;
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
  
    .horizontal-containerb p {
      margin: 0;
      padding-left: 2vw;
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
  
    .horizontal-containerb h1 {
      margin: 1vw;
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
    .horizontal-containerb h2 {
      margin: 1vw;
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
    .horizontal-container h2 {
  
      font-size: 2vw; /* Use viewport width for responsive font size */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    }
}