.dynamic-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0);
  margin-left:5%;
  margin-right:5%;
}

.document-container {
  flex: 0 0 calc(20% - 20px);
  height: 24vw;
  position: relative;
  background-position: center;
  color: white;
  margin: 10px;
  overflow: hidden;
  transition: filter 0.2s;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-size: cover; /* Set background size to cover */
}

.document-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 102, 102, 0.5);
  border-radius: 10px;
  transition: opacity 0.2s;
  background-size: cover; /* Set background size to cover */
}

/* Add a container-content class for consistent content height */
.document-container .container-content {
  height: 27vw; /* Ensure content does not affect container height */
  display: flex;
  flex-direction: column;
}

/* Rest of your CSS code... */

  
  .document-container:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 102, 102, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s; /* Add transition for a smoother effect */
  }
  .document-container:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 255, 247, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s; /* Add transition for a smoother effect */
  }
  .document-container:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 255, 153, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s; /* Add transition for a smoother effect */
  }
  .document-container:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 102, 255, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s; /* Add transition for a smoother effect */
  }
  .document-container:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 167, 26, 0.5);
    border-radius: 10px;
    transition: opacity 0.2s; /* Add transition for a smoother effect */
  }
  
  .document-container:hover::before {
    
    filter:blur(50px)
  }
  .document-container:hover {
    filter:saturate(250%);
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    z-index: 1; /* Ensure the text is above the pseudo-element */
  }
  
  .overlay p {
    margin: 0;
    font-size: 1.5vw;
    text-align: center;
    font-family: Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add a light shadow to the text */
    z-index: 2; /* Ensure the text is above the pseudo-element */
  }
  
  /* Example text colors for different containers */
  .document-container:nth-child(odd) .overlay {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust background color for odd containers */
  }
  
  .document-container:nth-child(even) .overlay {
    background-color: rgba(254, 254, 254, 0.2); /* Adjust background color for even containers */
  }
  